<div layout="column">
    <md-content layout="row" layout-align="center center"
        class="md-whiteframe-2dp" layout-padding>
        <md-input-container class="md-block" flex>
           <label>Article URL</label>
           <input ng-model="url" md-select-on-focus>
        </md-input-container>
        <md-button ng-click="extract()" ng-disabled="isUrlEmpty()"
            layout-align="center" class="md-fab">
            <md-icon md-svg-src="img/icons/ic_search_black_24px.svg"></md-icon>
        </md-button>
    </md-content>

    <div class="page-container">
        <div layout="column" layout-align="center center" ng-show="displayProgressBar">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <article url="{{ url }}" text="{{ article }}"></article>
    </div>

</div>