<div layout="column">
    <md-content layout="row" layout-align="center center"
        class="md-whiteframe-2dp" layout-padding>
        <md-input-container class="md-block" flex>
           <label>Article URL</label>
           <input ng-model="url" md-select-on-focus>
        </md-input-container>
        <md-button ng-click="extract()" ng-disabled="isUrlEmpty()"
            layout-align="center" class="md-fab">
            <md-icon md-svg-src="img/icons/ic_search_black_24px.svg"></md-icon>
        </md-button>
    </md-content>

    <div class="page-container">
        <article text="{{ article }}" add="addCustomer()"></article>
    </div>

    <section id="github-links" layout="row" layout-align="center center" layout-wrap="">
        <md-button class="md-raised" aria-label="Use Github"
            ng-href="https://github.com/lowdev/Article-Annotater">
            <md-icon md-svg-src="img/icons/gitHub-Mark-32px.svg"></md-icon>
            Github Project
        </md-button>
         <md-button class="md-raised" aria-label="Use Github"
            ng-href="https://github.com/lowdev/Article-Annotater/issues/new">
            <md-icon md-svg-src="img/icons/ic_bug_report_black_24px.svg"></md-icon>
            Report Bug
        </md-button>
    </section>
</div>